// breakpoints
//-----------------------------------------------------------
$max-575:  575px;
$min-576:  576px;
$max-767:  767px;
$min-768:  768px;
$max-991:  991px;
$min-992:  992px;
$max-1199: 1199px;
$min-1200: 1200px;
$max-1399: 1399px;
$min-1400: 1400px;

// colors
//-----------------------------------------------------------
$-gray-100:      #dadada;

:root {
  // discreteness
  //-----------------------------------------------------------
  --size: 8px;

  // colors
  //-----------------------------------------------------------
  --white:         #ffffff;
  --black:         #000000;

  --gray-100:      #{$-gray-100};
  --gray-200:      #222222;
  --gray-300:      #999999;
  --gray-400:      #{darken($-gray-100, 8%)};
  --blue-100:      #1a73e8;

  --red-100:       #f0506e;

  --body-color:    var(--gray-200);
  --theme-color:   var(--blue-100);

  --form-error:    var(--red-100);
  --form-disabled: var(--gray-100);
  --placeholder:   var(--gray-300);

  // font
  //-----------------------------------------------------------
  --font-family-base: Arial, Helvetica, sans-serif;
  --font-family-password: 'Password';

  // others
  //-----------------------------------------------------------
  --border-radius:   4px;
  --container-width: 1680px;
}
