// breakpoints
//-----------------------------------------------------------
$max-575:  575px;
$min-576:  576px;
$max-767:  767px;
$min-768:  768px;
$max-991:  991px;
$min-992:  992px;
$max-1199: 1199px;
$min-1200: 1200px;
$max-1399: 1399px;
$min-1400: 1400px;

:root {
  // discreteness
  //-----------------------------------------------------------
  --size: 8px;

  // colors
  //-----------------------------------------------------------
  --white:         hsl(0, 0%, 100%);
  --black:         hsl(0, 0%, 0%);

  --gray-100:      hsl(0, 0%, 85%);
  --gray-200:      hsl(0, 0%, 13%);
  --gray-300:      hsl(0, 0%, 60%);
  --gray-400:      hsl(0, 0%, 73%);
  --blue-100:      hsl(214, 82%, 51%);

  --red-100:       hsl(349, 84%, 63%);

  --body-color:    var(--gray-200);
  --theme-color:   var(--blue-100);

  --form-error:    var(--red-100);
  --form-disabled: var(--gray-100);
  --placeholder:   var(--gray-300);
  --overlay:       hsl(0, 0%, 0%, 65%);

  // font
  //-----------------------------------------------------------
  --font-family-base: 'Arial', 'Helvetica', sans-serif;
  --font-family-password: 'Password';

  // others
  //-----------------------------------------------------------
  --border-radius:   4px;
  --container-width: 1680px;
}
