/* .c-
-----------------------------------------------------------*/
$r: ".c-popup";

// block
//-----------------------------------------------------------
#{$r} {
  --gap: 0rem;
  --radius: 0px;

  @media (min-width: $min-768) {
    --gap: 3rem;
    --radius: var(--border-radius);
  }

  // element
  //---------------------------------------------------------

  &__input {
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;

    &:checked {
      ~ #{$r}__container {
        display: block;
      }
    }
  }

  &__overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
  }

  &__container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: none;
    position: fixed;
  }

  &__inner {
    display: grid;
    place-items: center;
    height: 100%;
    min-height: 100%;
    position: relative;
  }

  &__body {
    --dimension: calc(100% - 2 * var(--gap));

    display: flex;
    flex-direction: column;
    z-index: 1;
    width: var(--dimension);
    max-width: 768px;
    min-height: 10rem;
    max-height: var(--dimension);
    position: relative;
    background-color: var(--white);
    border-radius: var(--radius);
  }

  &__header {
    padding: 3rem 4rem;
  }

  &__main {
    flex-grow: 1;
    width: 100%;
    padding: 0 4rem;
    overflow-y: auto;
    max-height: 100%;
    overflow-x: hidden;
  }

  &__footer {
    padding: 3rem 4rem;
  }

  &__title {
    font-size: 3rem;
    font-weight: 400;
  }

  &__close {
    top: 2rem;
    z-index: 1;
    width: 1em;
    height: 1em;
    right: 2rem;
    display: block;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
  }


  // modifier
  //---------------------------------------------------------

  &--external-scroll {
    #{$r}__main {
      overflow: unset;
    }

    #{$r}__container {
      overflow-x: hidden;
      overflow-y: auto;
    }

    #{$r}__inner {
      height: unset;
    }

    #{$r}__body {
      margin: var(--gap) 0;
      max-height: unset;
    }

    #{$r}__header {
      background-color: var(--white);
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      border-radius: var(--radius) var(--radius) 0 0;
    }

    #{$r}__footer {
      background-color: var(--white);
      position: -webkit-sticky;
      position: sticky;
      bottom: 0;
      border-radius: 0 0 var(--radius) var(--radius);
    }
  }
}

// influence
//-----------------------------------------------------------
